
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter, transform;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.thymio-svg-component {
  width: 100px; /* Remplacez par la largeur appropriée */
  height: 100px; /* Remplacez par la hauteur appropriée */
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes blink-border {
  0%, 100% {
    border-color: white;
  }
  50% {
    border-color: yellow;
  }
}

.blinking-border {
  animation: blink-border 1s linear infinite;
}





@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.read-the-docs {
  color: #888;
}



.settings-button {
  position: fixed;
  top: 10px; /* Ajustez cette valeur pour positionner le bouton selon vos besoins */
  left: 10px; /* Ajustez cette valeur pour positionner le bouton selon vos besoins */
  z-index: 1050; /* S'assure que le bouton reste au-dessus du volet */
  cursor: pointer;
  padding: 8px 12px;
  background-color: #007bff; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  border: none;
  border-radius: 4px; /* Arrondi les angles du bouton */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Ombre pour un effet de relief */
}

.settings-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Largeur du volet */
  height: 100%; /* Hauteur totale de la vue */
  background-color: #4d4545; /* Couleur de fond du volet */
  border-right: 1px solid #ccc; /* Bordure droite pour séparer du reste de la page */
  box-shadow: 2px 0 5px rgba(0,0,0,0.2); /* Ombre pour un effet de profondeur */
  transform: translateX(-100%); /* Démarre hors du cadre de la vue */
  transition: transform 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), visibility 0s 0.5s;
  will-change: transform; 
  z-index: 1040; /* S'assure que le volet est au-dessus du contenu de la page mais sous le bouton */
}



.settings-panel h2 {
  padding: 20px; /* Espacement autour du titre pour plus de clarté */
}

.settings-panel button {
  display: block; /* Assure que les boutons prennent toute la largeur */
  width: 100%; /* Maximise la largeur des boutons pour faciliter le clic */
  padding: 10px; /* Padding pour confort de clic */
  margin: 10px 0; /* Marge entre les boutons */
  background-color: #000000; /* Fond blanc pour les boutons */
  border: 1px solid #ddd; /* Légère bordure pour définir les boutons */
  cursor: pointer;
}

.settings-panel label {
  display: block; /* Permet au label d'être sur sa propre ligne */
  margin: 20px 0 10px; /* Espacement autour du label */
}

.settings-panel input[type="range"] {
  width: 90%; /* Largeur du slider pour s'adapter au conteneur */
  margin: auto; /* Centre le slider */
  display: block; /* Assure que le slider est sur sa propre ligne */
}
.settings-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #f8f8f8;
  border-right: 1px solid #ccc;
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);
  transform: translateX(-100%);
  
  transition: transform 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), visibility 0s 0.5s;
  will-change: transform; 

  z-index: 1040;
}
.settings-panel {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
}



.settings-panel.open {
  transform: translateX(0);
  background-color: red; 
  transition-delay: 0s;/* Ceci devrait rendre le changement évident */
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* Style souligné pour indiquer qu'il s'agit d'un tooltip */
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Positionnement */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Effets */
  
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; /* Pas de délai lors du passage à visible */
}
.getRobots-button {
  padding: 10px 10px;
  background-color: #4CAF50; /* Couleur de fond verte */
  color: white; /* Texte blanc */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Bords arrondis */
  cursor: pointer; /* Curseur en forme de pointeur */
  transition: background-color 0.3s; /* Transition douce pour le hover */
}
.button-hover-animate {
  transition: background-color 0.3s ease;
  will-change: background-color; /* Indiquer au navigateur que cette propriété sera animée */
}

.getRobots-button:hover {
  background-color: #45a049; /* Couleur plus foncée au survol */
  will-change: background-color;
}

.instructions-container {
  border: 2px solid #db2525; 
  border-radius: 8px; /* Coins arrondis */
  padding: 5px 5px 5px 5px; /* Réduit le padding supérieur */
  margin: 2px; /* Marge extérieure */
  background-color: #f9f9f9; /* Fond légèrement gris */
  width: 600px; /* Largeur fixe */
  box-shadow: 0 4px 8px rgba(163, 160, 160, 0.1); /* Ombre discrète */
}

.instructions-container h4 {
  color: #333; /* Titre en couleur plus sombre */
  margin-top: 3px; /* Réduit l'espace au-dessus du titre */
  margin-bottom: 3px; /* Espace réduit après le titre */
  font-size: 26px; /* Taille de la police */
}

.instructions-container ol {
  padding-left: 20px; /* Alignement des numéros à l'intérieur du bloc */
  font-size: 30px; /* Taille de la police pour les listes */
  margin-top: 3px; /* Réduit l'espace au-dessus de la liste */
  
}

.instructions-container li {
  margin-bottom: 3px; /* Espace entre les lignes */
  color: #000000;
  font-size: 20px; /* Taille de la police pour les éléments de liste */
  text-align: left;
}
.trainer-table {
  width: 100%;
  background-color: #5a5a5a;
  border-collapse: collapse;
}

.trainer-table th,
.trainer-table td {
  border: 5px solid rgb(168, 168, 192);
  padding: 8px;
  text-align: center;
}

.trainer-table tbody tr:nth-child(odd) {
  background-color: #5a5a5a;
}

/*Flag Size*/
.fi {
  width: 36px;  
  height: 24px; /* adjust height for a 4:3 aspect ratio */
  background-size: cover;
  display: inline-block;
  line-height: 1;
}
.TutorialButton {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px; /* Largeur du SVG */
  height: 40px; /* Hauteur du SVG */
  background: url('../../assets/help.svg') no-repeat center center / cover; /* Assurez-vous que le chemin d'accès est correct */
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  outline: none;
  background-color: transparent; /* S'assure que le fond est transparent */
}

.wave-bar {
  width: 20px;
  height: 40px;
  background-color: white;
  margin: 2px;
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scaleY(0.1);
  }
  50% {
    transform: scaleY(1);
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100; /* Assurez-vous que ce z-index est supérieur à tout autre z-index dans l'application */
}

.popup-overlay-title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Assombrir l'arrière-plan pour mettre en évidence le popup */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content-title {
  padding: 20px;
  border-radius: 5px;
  background-color: #1a1a1a; /* Fond sombre pour le contraste */
  color: white; /* Texte en blanc pour une meilleure lisibilité */
  text-align: center;
  width: 80%;
  max-width: 100px; /* Limite la largeur pour les grands écrans */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); /* Ombre pour un effet de profondeur */
}

.spinner-bar {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 5px;
  height: 40%;
  background-color: #356d37;
  transform-origin: 50% 100%;
  border-radius: 5px;
}

/* Définir des barres autour du cercle */
.spinner-bar:nth-child(1) { transform: rotate(0deg) translateX(-50%); }
.spinner-bar:nth-child(2) { transform: rotate(30deg) translateX(-50%); }
.spinner-bar:nth-child(3) { transform: rotate(60deg) translateX(-50%); }
.spinner-bar:nth-child(4) { transform: rotate(90deg) translateX(-50%); }
.spinner-bar:nth-child(5) { transform: rotate(120deg) translateX(-50%); }
.spinner-bar:nth-child(6) { transform: rotate(150deg) translateX(-50%); }
.spinner-bar:nth-child(7) { transform: rotate(180deg) translateX(-50%); }
.spinner-bar:nth-child(8) { transform: rotate(210deg) translateX(-50%); }
.spinner-bar:nth-child(9) { transform: rotate(240deg) translateX(-50%); }
.spinner-bar:nth-child(10) { transform: rotate(270deg) translateX(-50%); }
.spinner-bar:nth-child(11) { transform: rotate(300deg) translateX(-50%); }
.spinner-bar:nth-child(12) { transform: rotate(330deg) translateX(-50%); }

.spinner-container {
  position: relative;
  width: 100px;
  height: 100px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.barchart-container {
  height: 259px; 
  overflow: hidden; 
}


/* App.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Aligner les éléments au début du conteneur */
  width: 80vw;
  height: 83vh;
  overflow: auto; /* Permettre le défilement vertical si nécessaire */
  padding: 10px 0; /* Ajouter un peu d'espace en haut et en bas */
}


.execute-btn {
  width: 150px;
  height: auto;
  margin: 20px 0;
}

.visualization-container {
  width: 60vw;
  min-height: 70vh;
  max-height: 125vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  border: transparent;
}


.note-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.note-container > div,
.note-container > button {
  margin-bottom: 10px;
}

.record-note-section label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Pour rendre le texte plus lisible sur un fond potentiellement clair */
  padding: 2px 5px;
}
.record-note-section {
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}

.section-label {
  display: block;
  margin-bottom: 10px;
}

.label-text {
  font-weight: bold;
  text-align: left;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
}



.note-recorded-section label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
}

.note-recorded-section label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.piano-container {
  margin-top: 50px; /* Espace pour le bouton au-dessus */
  width: 600px; /* Fixe la largeur à 600px pour le piano */
  margin: auto; /* Centralise le piano */
  z-index: 1200;
}

.note-recorded-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-recorded-section {
  border: 1px solid white;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.legend-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 10px;
  left: 10px;
  margin-top: 30px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.legend-line {
  width: 30px;
  height: 3px;
  margin-right: 5px;
}

.legend-text {
  font-size: 14px;
  color: #fff; 
}
.legend-circle {
  width: 20px;          /* Taille du cercle */
  height: 20px;         /* Taille du cercle */
  border-radius: 50%;   /* Arrondit les angles pour former un cercle */
  margin-right: 8px;    /* Espace à droite du cercle pour séparation avec le texte */
  display: inline-block; /* Affichage en ligne pour aligner avec le texte */
  vertical-align: middle; /* Alignement vertical pour que le cercle soit centré avec le texte */
}


.save-model-button,
.load-model-button {
  font-size: 14px; /* Taille de police plus petite pour les boutons */
  padding: 8px 16px; /* Ajout de padding pour un meilleur aspect visuel */
  background-color: #1a1a1a;; /* Couleur de fond claire */
  color: #ffffff; /* Couleur de texte foncée pour contraste */
  border: 1px solid #1a1a1a;; /* Bordure subtile */
  border-radius: 4px; /* Bords arrondis pour un look moderne */
  cursor: pointer; /* Curseur pointeur pour indiquer la possibilité de cliquer */
  margin-bottom: 10px; /* Marge en bas pour espacer des éléments suivants */
}
.save-model-button:hover,
.load-model-button:hover {
  border-color: #ffffff /* Changement de couleur de fond au survol */
}


.input-file {
  display: none; /* Cache l'élément input de type file */
}
.filename-input {
  width: 100%;        /* Makes the input field take the full width of its container */
  padding: 0px;       /* Adds padding inside the input box for better text visibility */
  margin-bottom: 10px; /* Adds space below the input field */
  border: 2px solid #ccc; /* Gives a solid border with a light grey color */
  border-radius: 2px; /* Rounds the corners of the input field */
  font-size: 14px;    /* Sets a readable font size */
}


/*delete button of trainer table */
.delete-button-container {
    position: relative;
    padding: 0;
}

.delete-button {
    position: absolute;
    top: -170px;
    right: -10px;
    border: none;
    border-radius: 0;
    background: none;
    color: red;
    cursor: pointer;
    font-size: 24px;
    margin: none;
    outline: none;
    padding: 0;
    
    
    border: 4px solid white; /* Bordure blanche comme spécifié */
}

.navigation-bar {

  z-index: 1200;
}
.piano{
  
  z-index: 1200;
}