.state-item {
  flex-grow: 0;
  flex: 0;
  text-align: center;
  color: white;
  padding: 20px 20px;
  border: 20pt;
  border-color: rgb(236, 236, 236);
  border-width: 10px; 
  
  transition: background-color 0.3s;
  cursor: pointer;
  position: relative; 
  clip-path: polygon(
    0% 0%,

    80% 0%,
    100% 50%,
    80% 100%,
    0% 100%,
    20% 50%
  ); /* Double-chevron shape  */
  border-radius: 0; 
  height: 60px;
  width: 130px;
}
.state-item:not(:first-child) {
  margin-left: -20px; 
}
.state-item span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2; 
  max-width: 100%; 
}

/* Ensure the first and last items match the overall style */
.navigation-bar > .state-item:first-child {
  flex: 0;
  clip-path: polygon(
    0% 0%,

    80% 0%,
    100% 50%,
    80% 100%,
    0% 100%,
    20% 50%
  );
}

.navigation-bar > .state-item:last-child {
  flex: 0;
  clip-path: polygon(
    0% 0%,

    0% 0%,

    80% 0%,
    100% 50%,
    80% 100%,
    0% 100%,
    20% 50%
  );
}
.navigation-bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; 
}

.separator {
  display: none; 
}

/* Pseudo-elements for creating angled sides */
.state-item::before,
.state-item::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: inherit;
}

.state-item::before {
  left: -10px;
}

.state-item::after {
  right: -10px;
}
.state-item {
 
  position: relative;
}

.button-text {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate( /*translate text to center it  */
    -50%,
    -50%
  ); 
  white-space: normal; 
  text-align: center; 
}

/* Color classes */
.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}
