/**
 * Styles for the navigation bar in the application.
 * The .state-item uses a clip-path for unique button shapes and supports different state colors.
 */

/* General adjustments */
.state-item {
  flex-grow: 1;
  text-align: center;
  color: white;
  padding: 10px;
  border: none;
  transition: background-color 0.3s;
  cursor: pointer;
  position: relative;
  clip-path: polygon(
    0% 0%,
    80% 0%,
    100% 50%,
    80% 100%,
    0% 100%,
    20% 50%
  );
  border-radius: 0; 
  height: 60px;
}

.state-item:not(:first-child) {
  margin-left: -20px; 
}

.state-item span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2; 
  max-width: 100%; 
}

.navigation-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
}

.separator {
  display: none; 
}

/* Pseudo-elements for creating angled sides */
.state-item::before,
.state-item::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: inherit;
}

.state-item::before {
  left: -10px;
}

.state-item::after {
  right: -10px;
}

.state-item {
  position: relative;
}

.button-text {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(
    -50%,
    -50%
  ); 
  white-space: normal; 
  text-align: center; 
}

/* Color classes */
.green {
  background-color: green;
}

.orange {
  background-color: orange;}

.red {
  background-color: red;
}

/* Media Queries, it adjusts size for small screens */
@media (max-width: 820px) {
  .state-item {
    padding: 5px;
    height: 60px;
    font-size: 10px;
  }
  .button-text {
    font-size: 12px;
  }
  .state-item:not(:first-child) {
    margin-left: -10px;}
  .navigation-bar {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .state-item {
    padding: 3px;
    height: 30px;
    font-size: 8px;
  }
  .button-text {
    font-size: 8px;
  }
  .state-item:not(:first-child) {
    margin-left: -5px; 
  }
  .navigation-bar {
    width: 80%;
  }
}



