
.network {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
}


.layer {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.neuron {
  fill: grey; 
  stroke: #000; 
  stroke-width: 2px;
}

/* Style for links between neurons */
.link {
  stroke: blue; 
  stroke-width: 2px; 
}

/* Style for biases */
.bias {
  fill: red; 
}


.active-neuron { 
  fill: lightblue; 
}

.active-link {
  stroke: orange; 
}
